# Dependencies
/vendor/
/node_modules/

# Tests & quality
/coverage/
/.phpunit.cache/
/.phpunit.result.cache
/.php-cs-fixer.cache
/.phpstan.cache

# IDE
/.idea/
/.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
